<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA-ux-xmHZnh5KvkYQVnfUL9eA4A4gTW7I</string>
	<key>GCM_SENDER_ID</key>
	<string>176535439905</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.probabilityia.mobileCentral</string>
	<key>PROJECT_ID</key>
	<string>probability-app-6de7c</string>
	<key>STORAGE_BUCKET</key>
	<string>probability-app-6de7c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:176535439905:ios:960f016c0ad72e0412f160</string>
</dict>
</plist>